@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    Welcome to MAERSK Group of Companies

</div>

<div class="row">
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>
            A.P. Moller - Maersk is an integrated transport & logistics company with multiple brands and is a global leader in container shipping and ports. Including a stand-alone Energy division, the company employs roughly 88,000 employees across operations in 130 countries.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
   </div>